<p>郵便番号: <%= @zipcode %></p>
<p>フリガナ: <%= @reading1 %></p>
<p>都道府県: <%= @address1 %></p>
<p>フリガナ: <%= @reading2 %></p>
<p>市区町村: <%= @address2 %></p>
<p>フリガナ: <%= @reading3 %></p>
<p>町名: <%= @address3 %></p>
